body {
    background-color: black;
}

.body {
    color: black;
    padding: 20px;
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;

}
 .header {
    color: black;
    text-align: left;
    padding-top: 1%;
    padding-left: 1%;
    font-size: 20;
    font-family: "Bebas Neue";
 }

.title, .h2 {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
        text-align: center;
        align-items: center;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        -webkit-text-fill-color: black;
        background-color: transparent;
        mix-blend-mode: difference;
        filter: invert(1);
}


.section {
    background-color: green;
    text-align: center;
    font-size: 30px;
    border-radius: 200px;
    margin-top:50px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 1px;
    padding-bottom: 3%;

}

.start {
        width: 60px;
          height: 60px;
          border-radius: 200px; 
          background-color: black;
          border-color: darkgreen;
          border-width: 3px;
          font-size: 10px;
          color: white;
          cursor: grab;
          font-weight: bold;
}

.pause {
    width: 60px;
    height: 60px;
    border-radius: 200px; 
    background-color: black;
    border-color: red;
    border-width: 3px;
    font-size: 10px;
    color: white;
    cursor: grab;
    font-weight: bold;
    }


.reset {
    width: 60px;
          height: 60px;
          border-radius: 200px; 
          background-color: black;
          border-color: darkgoldenrod;
          border-width: 3px;
          font-size: 10px;
          color: white;
          cursor: grab;
          font-weight: bold;
}

timecolor  {
   font-family:'Courier New', Courier, monospace
}
 